.container {
  min-width:52px;
  margin: 0 8px;
  display: flex;
  flex-direction: column-reverse;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-content: stretch;
  align-items: center;
}

@media (min-width: 667px) {
  .container {
    flex-direction: row;
  }
  .brandLabel{
    min-width: 80px;
  }
}
