.brandContainer {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-around;
}
.container {
  margin: auto;
  border: 1px solid hsla(0, 0%, 50%, 0.599);
  width: 400px;
  height: 650px;
  padding: 4px 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}
